@import "@styles/settings/__settings";

.button {

  font-size: 1em;
  color: white;
  background-color: $color-button-background;
  border: 0;
  font-weight: $font-weight-black;
  font-family: inherit;
  text-transform: uppercase;
  padding: .6em 1em;
  border-radius: $border-radius-small;
  border: solid 2px $color-button-background;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-button-background, 10);
  }

  &[data-color="gray"] {

    color: rgba(0,0,0,.6);
    background-color: $color-header-links;

    &:hover {
      background-color: lighten($color-header-links, 5);
    }

  }

}