@import "@styles/settings/__settings";

.header {
  font-size: 2em;
}

.homeContainer {

  font-size: 1.2em;

  button {
    margin: 0 .2em;
  }

}

.clickAction {

  strong {
    display: block;
    font-size: 1.4em;
    margin-bottom: .5em;
  }

}